<div id="main toast-container">
  <header class="header">
    <h1>人のいちらん</h1>
  </header>
  <h3 class="boadingRate">
    乗車率：{{boadingRate.rate}}% (定員：{{boadingRate.capacity}})
  </h3>
  <md-list id="userList">
      <md-list-item
          ng-repeat="(key, value) in users"
          ng-class="{now: !value.leftFlag}"
          ng-click="openMenu($event, value)"
          class="userContent">
          <!-- <pre>{{value|json}}</pre> -->
          <md-icon aria-label="user icon" ng-class="{enableIcon: !value.leftFlag}" class="md-avatar-icon">person</md-icon>
          <p class="userName">
               {{value.number}}<br>{{value.name}}
          </p>
          <p class="md-secondary">
            <span ng-show="value.leftFlag">{{value.diff}}</span>
            <span ng-show="!value.leftFlag">いる(かも)</span>
          </p>
          <md-button aria-label="Open user menu" class="md-icon-button md-secondary" ng-click="openMenu($event, value)">
            <md-icon>menu</md-icon>
          </md-button>
          <md-divider />
      </md-list-item>
  </md-list>
</div>
